<table class="tasks-menu">
    <tr>
        <th>
            <a>Top Daily Tasks</a>
            <tr *ngFor="let task of dailyTasks">
                <td><input type="checkbox" [(ngModel)]="task.checked" (change)="checkUncheck(task)" /></td>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
        </th>
        <th>
            <a>Top Weekly Tasks</a>
            <tr *ngFor="let task of weeklyTasks">
                <td><input type="checkbox" [(ngModel)]="task.checked" (change)="checkUncheck(task)" /></td>
                <td>{{ task.name }}</td>
            </tr>
        </th>
        <th>
            <a>Top Monthly Tasks</a>
            <tr *ngFor="let task of monthlyTasks">
                <td><input type="checkbox" [(ngModel)]="task.checked" (change)="checkUncheck(task)" /></td>
                <td>{{ task.name }}</td>
            </tr>
        </th>
    </tr>
</table>
